<p id="notice"><%= notice %></p>

<div class="center jumbotron">
  <div class="row">
    <div class="col-md-12">
      <div class="text-center">
        <h2><%= link_to "#{@category.title.upcase}", category_path(@category) %></h2>
          
      </div>
      <hr>
        <% @products.each do |product| %>
          <%= render product %>
        <%end%>
    </div>
 
    <%= will_paginate @products %>
  </div>
  <div class="row">

    <div class="col-md-12">
      <div class="text-center">
        <h1>Newest Item</h1>
        <hr>
        <% @newest_products.each do |product| %>
          <%= render product %>
        <%end%>
      </div>    
  </div>
</div>
