<div class="col-md-4 col-lg-3 col-sm-6 col-xs-10">
  <div class="panel panel-success">
    <div class="panel-heading">
             <%= product.decorate.link%>
    </div>
    <div class="panel-body">
      <div class="text-center">
        <%= link_to product_path(product) do %>
          <%= image_tag product.image_url :medium_icon%>
        <%end%>
      </div>
      <div class="text-center">
        <p>
          <strong><%= product.category.title%></strong>
        </p>
        <p>
          Price: $<%= number_with_precision(product.price, precision: 2) %>
        </p>
      </div>
      <div class="text-center">
        <% if product.stock <= 0 %>
          Out Of Stock
        <% else %>
          <%= button_to "Add to cart", line_items_path(:product_id => product), class: "btn btn-success"%>
        <% end %>
      </div>
    </div>
  </div>
</div>

