<div class="row">
  <div class="col-md-9 col-md-offset-1">
      <div class="col-md-12">
        <h3> Search results </h3>
        <span> Found <%= pluralize(@total_results, 'result')%> </span>
      </div>
      <div class="text-right">
        <% @products.each do |product| %>
          <div class="row search">
            <div class="col-md-3 text-center">
              <%= link_to product_path(product) do %>
                <%= image_tag product.image_url(:medium_icon) %>
              <% end %>
            </div>
            <div class="col-md-9">
              <h4>
                <%= link_to product do %>
                  <%= product.title %>
                <% end %>
              </h4>

              <p>
                <strong> $<%= product.price %></strong>
              </p>
              <p> PIN: <%= product.pin %> </p>
              <% if product.stock <= 0 %>
                <h2>
                  <b>Out Of Stock</b>
                </h2>
              <% else %>
                <%= button_to "Add to cart", line_items_path(:product_id => product), class: "btn btn-success" %>
              <% end %>
              <p><%= simple_format product.description.truncate_words(50) %></p>
              <div class="text-right">
                <%= link_to "Read More", product_path(product) %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
      <div class="text-right">
        <%= will_paginate @solr_search["ids"] %>
      </div>
  </div>
</div>