.row
  .col-md-9.col-md-offset-1
    .col-md-12
      %h3 Search results
      %span Found #{pluralize(@total_results, 'result')}
    .text-right
    - @products.each do |product|
      .row.search
        .col-md-3.text-center
          = link_to product_path(product) do
            = image_tag product.image_url(:medium_icon)
        .col-md-9
          %h4
            = link_to product do
              = product.title
          -# %p
          -#   = link_to categories_path(product.category) do
          -#     %strong #{product.category.title}
          %p
            %strong $#{product.price}
          %p PIN: #{product.pin}
          - if product.stock <= 0
            %h2
              %b Out Of Stock
          -else
            = button_to "Add to cart", line_items_path(:product_id => product), class: "btn btn-success"
          %p= simple_format product.description.truncate_words(50)
          .text-right
            = link_to "Read More", product_path(product)
    .text-right
      = will_paginate @solr_search["response"]["docs"]


